body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#header {
	display: flex;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	z-index: 1; /* TODO Solve this in HTML */
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#star-info {
	display: flex;
	flex-direction: column;
}

#distance {
	display: block;
	width: 150px;
	text-align: left;
}

#star-name {
	display: block;
	width: 150px;
	text-align: left;
}

#info {
	display: flex;
	flex: 1;
	margin-right: 320px;
	margin-left: 10px;
	justify-content: center;
}

.lil-gui input[type=text] {
	color: white !important;
}

.lil-gui .controller.string {
	border-left: 1px solid white !important;
}

.lil-gui .controller.function .widget {
	padding-left: var(--name-width);
}

.lil-gui .controller.function button {
	width: auto;
	padding: 0 .55em;
}

.hidden {
	display: none !important;
}
